/*中文字體*/
.chinese-font {
    font-family: Microsoft JhengHei,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}


/* index.html */
/*輪播廣告利用底圖的方式讓圖案能縮到可見度*/
.custom-height {
    min-height: 100vh;
}
/*讓輪播底圖置中並且圖會盡量縮*/
.custom-bg-cover {
    background-size: cover;
    background-position: center center;
}
/*配合padding margin透明*/
.custom-font-bg {
    background-color: rgba(0,0,0, .20);
}


