/*中文字體*/
.chinese-font {
    font-family: Microsoft JhengHei,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/* about.html使用 */
/*暗橘紅色*/
.bg-pomegranate {
    background-color: #C0392B;
}
/*產生陰影*/
.box-shadow {
    -webkit-box-shadow: 1px 1px 5px 1px rgba(176,172,181,1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(176,172,181,1);
    box-shadow: 1px 1px 5px 1px rgba(176,172,181,1);
}
/*關於我大頭貼*/
.about-img {
    height: 360px;
    background-image: url("../img/p01.jpg");
    background-size: cover;
    background-position: center center;
}